* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, .first, .second, .third {
    display: flex;
}
body {
    align-items: center;
    flex-direction: column;
}
.board {
    border: 2px solid black;
}
.board {
    width: 300px;
    height: 300px;
}